$primary: #4C50BB;
$primary-hover: #33369B;
$secondary: #9EA5DF;
$secondary-hover: #6772d6;
$tertiary: #D0D4F6;
$tertiary-hover: #b9bcda;
$danger: #e04f5f;
$success: #32bea6;
$dark: #0E0F16;
$grey: #979aa8;
$grey-light: #e4e5f0;
$light: #F6F7FD;
$light-hover: #F1F2FD;
$white: #FFFFFF;
$white-hover: #dddddd;
$kiosk: #e6e95d;
$kiosk-hover: #c7c950;