/* reset.css */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
img,
ol,
ul,
li,
form,
article,
aside,
footer,
header,
main,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
}
ul,
ol,
li {
  list-style: none;
}
input,
select,
textarea,
button {
  font-size: 100%;
  vertical-align: middle;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
body {
  -webkit-text-size-adjust: none;
}
input:checked[type="checkbox"] {
  background-color: #fff;
  -webkit-appearance: checkbox;
  color: #212126;
}
input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="reset"] {
  border-radius: 0;
  -webkit-appearance: none;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
a {
  text-decoration: none;
  color: black;
}
a:active,
a:hover {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}